<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать, дорогой Админ</title>
</head>
<body>
    <h1>Добро пожаловать, дорогой Админ</h1>
    <p>Выберите действие:</p>
    <button onclick="window.location.href='/Users1'">Users</button>
    <button onclick="window.location.href='/Pizzas1'">Pizzas</button>
    <button onclick="window.location.href='/Combos1'">Combos</button>
    <button onclick="window.location.href='/Orders1'">Orders</button>
    <button onclick="window.location.href='/OrderPizzas1'">OrderPizzas</button>
</body>
</html>
