body {

    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.navbar-brand img {
    max-height: 50px;
}

.card {
    border-radius: 10px;
}

.btn-primary {
    background-color: #e63946;
    border-color: #e63946;
}

    .btn-primary:hover {
        background-color: #d62828;
        border-color: #d62828;
    }
