@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/images/pizza.jpg'); /* Относительный путь */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            color: rgb(255 164 172) !important;
            text-shadow: 2px 2px 4px #000;
        }

        .container {
            background-color: rgb(52 97 89 / 70%);
            padding: 20px;
            border-radius: 15px;
            text-align: center;
        }

        .btn-menu {
            background-color: #E98074;
            border: none;
            color: white;
            padding: 10px 20px;
            font-size: 1.2em;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            margin-top: 20px;
        }

            .btn-menu:hover {
                background-color: #E98074;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-4">Добро пожаловать на самый лучший сайт самой лучшей пиццерии</h1>
        <br>
        <a href="@Url.Action("Index", "Pizzas")" class="btn-menu">Меню</a>
        <a href="@Url.Action("Orders", "Order")" class="btn-menu">Мои заказы</a>
        <a href="@Url.Action("Index", "Combos")" class="btn-menu">Комбо</a>
    </div>
</body>
</html>

