<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            margin-bottom: 20px;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

    <h1>@ViewData["Title"]</h1>

    <div class="container">
        <h2>Защита вашей конфиденциальности</h2>
        <p>Защита вашей конфиденциальности очень важна для нас. В этой политике я описываю, какие типы личной информации мы получаем и собираем, а также как мы используем эту информацию.</p>

        <h2>Логи файлов</h2>
        <p>Как и многие другие сайты, мы собираем и используем данные, содержащиеся в файлах журналов. Содержание файлов журналов включает в себя информацию о вашем IP-адресе, браузере, времени запроса и ссылках, по которым вы переходили на наш сайт.</p>

        <h2>Cookies</h2>
        <p>Мы используем файлы cookie для сохранения информации о предпочтениях посетителей, а также для настройки содержимого страниц в зависимости от типа браузера посетителя или другой информации, которую посетитель отправляет через свой браузер.</p>

        <h2>Реклама</h2>
        <p>Наша реклама может содержать файлы cookie. Эти файлы cookie используются для того, чтобы показывать рекламу, которая наиболее релевантна для вас, и ваших интересов. Например, если вы ищете пиццу, вы можете увидеть рекламу пиццы на нашем сайте или на других сайтах.</p>

        <h2>Другие сторонние веб-сайты</h2>
        <p>На нашем сайте могут содержаться ссылки на другие сайты. Мы не несем ответственности за содержание и политику конфиденциальности этих сайтов. Мы рекомендуем вам ознакомиться с политикой конфиденциальности этих сайтов перед предоставлением им своих личных данных.</p>

        <h2>Конфиденциальность</h2>
        <p>Мы можем время от времени обновлять эту политику конфиденциальности. Мы рекомендуем вам периодически проверять эту страницу для получения последних обновлений о том, как мы защищаем вашу личную информацию.</p>

        <h2>Согласие</h2>
        <p>Используя наш сайт, вы соглашаетесь с нашей политикой конфиденциальности. Если вы не согласны с этой политикой, пожалуйста, не используйте наш сайт.</p>

        <p>Если у вас есть дополнительные вопросы или требуется дополнительная информация о нашей политике конфиденциальности, не стесняйтесь связаться с нами через нашу контактную форму. Благодарим вас за доверие и за то, что вы выбрали наш сайт для посещения.</p>
    </div>

</body>
</html>