@model List<sait.Models.Combos>

<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
</head>
<body>
    <h1>Order Details</h1>
    <table>
        <tr>
            <th>Combo Name</th>
            <th>Count</th>
        </tr>
        @foreach (var group in Model.GroupBy(p => p.name))
        {
            <tr>
                <td>@group.Key</td>
                <td>@group.Count()</td>
            </tr>
        }
    </table>
</body>
</html>